//header
$colorPrimary: #151311;
$colorSecondary: #E9E8E7;
//about me
$colorTertiary:#139172;
$colorQuadrinary: #911332;
//portfolio
$color5:#09D57C;
$color6:#D50962;

//indivitualPortfolioItems

$color7:#094AD5;
$color7Content:#D59409;
$color8:#D5A509;
$color8Content: #0939D5;

