.notfound {
    background-image: linear-gradient(90deg, rgba($color5, 0.3), rgba($color7, 0.3)), url("https://images.unsplash.com/photo-1602984338060-bfddce132ebc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1");
    min-height: 100vh;
    background-size: cover;
    position: relative;

    &-rage {
        animation: animation2 1s;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(#C9533F, 0.8), rgba(#510D02, 0.6)), url("https://images.unsplash.com/photo-1470347051932-8ca24b11b3e3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
        background-size: cover;
        color: transparent;
        -webkit-background-clip: text;
        font-size: 10rem;
        float: left;
        padding-right: 3rem;
        border-right: 1px solid $colorSecondary;
        margin-right: 3rem;
    }

    &-details {
        padding-top: 2rem;

        float: left;
        font-size: 4rem;
        background-image: url("https://images.unsplash.com/photo-1431440869543-efaf3388c585?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
        background-size: contain;
        color: transparent;
        -webkit-background-clip: text;
        display: inline-block;
        margin: 1rem 0;
    }

    &-message {
        text-align: center;
        color: $colorSecondary;
        margin: 3rem auto;
        font-size: 2rem;
    }

    &-container {
        transition: transform 3s;
        animation: animation8 1.5s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &-navigation {
        &-button {
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                transform: scale(0.9);
            }

            box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
            border: none;
            background-color: $colorTertiary;
            height: 5rem;
            color: $colorSecondary;
            font-size: 1.7rem;
            width: 25%;
        }

        display: flex;
        justify-content: space-between;
        margin: 5rem;
    }
}