.about {
    background-color: rgba($colorTertiary, .95);
    background-image: linear-gradient(90deg, rgba(21, 19, 17, 0.9) 0%, rgba(21, 19, 17, 0.4) 50%), url("https://images.unsplash.com/photo-1559511260-66a654ae982a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2400&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;

    &-header {
        animation: animation2 1s;
        color: $colorSecondary;
        font-size: 4rem;
        margin: 30vh 0 5vh 0;
    }

    &-resume {
        animation: animation2 1s;

        &-section {

            &-content {
                // width
                overflow: auto;

                &-skill {
                    //border-radius: 1rem;
                    background-color: rgba(#109662, 0.6);

                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
                    padding: 2rem;

                    &-icon {
                        //color: rgba(#fff, 1);
                        &-image {

                            text-align: left;
                            height: 5rem;
                        }
                    }

                    &-description {
                        color: $colorSecondary;
                        font-size: 1.3rem;
                        text-transform: uppercase;
                    }

                    &-name {
                        font-size: 2rem;
                        color: $colorSecondary;
                    }

                    @include respond(tablet) {
                        width: 70%;
                        margin: 1% auto;
                        float: none;
                    }

                    @include respond(phone) {
                        width: 80%;
                        margin: 5% auto;
                        float: none;
                    }

                    width: 40%;
                    float: left;
                    margin: 1rem 2%;
                }
            }

            &-title {
                text-decoration: underline;
                font-size: 2.4rem;
                color: $colorSecondary;
            }

            margin: 5rem 0;
        }

        @include respond(tablet) {
            padding: 3rem;
        }

        @include respond(phone) {
            padding: 1rem;
        }

        padding:5rem;
        background-color: rgba(0, 0, 0, 0.4)
    }

    &-description {
        animation: animation1 1s;
        margin-bottom: 10rem;
        width: 50%;
        min-width: 50rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 2.3rem;

        &-icon {
            color: $colorTertiary;
            font-size: 3rem !important;
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
                font-size: 3.4rem !important;
            }
        }

        &-resume {

            color: $colorSecondary;
            font-size: 2.3rem !important;

            &-text {
                margin-right: 1rem;
            }

            &-download {
                transition: all 0.3s;
                cursor: pointer;

                &:hover {

                    transform: scale(.9)
                }

                border: none;
                background-color: rgba($colorQuadrinary, 0.7);
                color: $colorSecondary;
                padding: 1rem;
                font-size: 1.3rem !important;
                // background-color: transparent;
            }
        }

    }

    &-container {
        scroll-behavior: smooth;
        overflow-y: auto;
        overflow-x: hidden;
        height: 70vh;
        width: 75vw;
        padding: 0 0 30vh 0;
        margin: 0vh 0 0 0;
        padding-left: 10%;
    }
}